.task1{
    text-align: center;
    font-size: 24px;
    padding: 20px;
    font-family: Playfair Display SC;
}
.task2{
    text-align: center;
}
.task3{
    text-align: center;
}
.photo{
    image-rendering: optimizeSpeed;
}
body{
    background-color: rgba(65, 165, 165, 0.747);
    overflow-x:hidden;
}
.slider{
    margin-left: 325px;
    width: 1600px;
    position: relative;
}
.text{
    position: absolute;
    z-index: 10;
    margin-top: -385px;
    margin-left: 110px;
    color: rgb(189, 10, 10);
    text-shadow: rgb(0, 0, 0) 0 0 2px;
    font-family: Patua One;
    font-size: 74px;
}
.text1{
    position: absolute;
    z-index: 10;
    margin-top: -265px;
    margin-left: 75px;
    font-family: Patua One;
    text-shadow: rgb(0, 0, 0) 0 0 2px;
    color: rgb(189, 10, 10);
    font-size: 43px;
}
.essay{
    position: absolute;
    z-index: 10;
    padding: 15px;
    text-align: justify;
    color: rgb(0, 0, 0);
    font-size: 21px;
}